*.Rcheck
*.tar.gz
*.RData
exampleRTemplatePackage/wd/*/*.html
exampleRTemplatePackage/wd/*/output
exampleRTemplatePackage/wd/*/css
/exampleRTemplatePackage/wd/start/startTemplate.Rmd
*.html
*.zip
/.project