h1 {
    font-weight: bold;
    color: #e52323;
   /* background-color: yellow */
}
h2 {
    font-size: 180%;
    color: #32a6d3;
}
h3 {
    font-size: 150%;
    color: #0000b2;
   /* background-color: yellow */
}
h4 {
    color: #0077b3;
   /* background-color: yellow */
}
.button0{
  background-color:#0000b2;
  color:white;
}
.button1{
  background-color:#add8e6;
  color:white;
} 
.button2{
  background-color:orange;
  color:white;
} 
.buttonDisabled{
  background-color:grey!important;
  color:darkgrey!important;
}
.shiny-progress-notification .progress {
  margin: auto;
}